ul {padding-left: 0rem;}
hr {border-top: 1px solid rgb(54, 187, 166);}
ul > li > ul {list-style: none;}
ul > li > ul > li {padding-left: 0.5rem; line-height: 1.4;}
ul.nav > li.nav-item > a.nav-link.active,
ul.nav > li.nav-item > ul > li.nav-item > a.nav-link.active {
    color: #ffffff;
}
.content-wrapper {
    background-color: #25282f !important;
}
.table-dark {
    background-color: #25282f;
}
.form-control {
    font-size: 1rem;
    line-height: 1.5;
}
@media screen and (max-width: 991px) {
    .row-offcanvas .sidebar-offcanvas {
        position: fixed;
    }
    .row-offcanvas.row-offcanvas-right.active .sidebar-offcanvas {
        right: 0px;
        top: auto;
    }
}
.hide {display: none;}
#widget-tree-forum input[type="checkbox"] {display: inline;}
.kv-tree-root, .kv-tree-list, .kv-node-indicators {background-color: inherit;}
.sortable li:focus, .sortable li:hover, .kv-node-detail:hover, .kv-node-detail:focus, .kv-focussed {background-color: #30353b;}
.sortable {border: none;}
.kv-tree li.kv-parent {border-bottom: none;}
.kv-tree > li:last-child > ul, .kv-parent ul li:last-child > ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.kv-detail-heading {border-bottom: 1px solid #323644;background-color: inherit;}
.kv-detail-container {border: 1px solid #323644;}
#app_tabs {
    border-bottom: none;
}
#app_tabs .nav-item .nav-link {
    border: none;
}
#app_tabs .nav-item .nav-link.active,
#app_tabs .nav-item .nav-link:hover {
    color: #68C7B8;
}
